$modalHeadColor: #353D4B;
$backgroundFooter: #F6F7F9;
$labelColor: #818C99;

@keyframes openModal {
    from{
        margin-top: -100%;
        opacity: 0;
    } 
    to {
        margin-top: -20%;
        opacity: 1;
    } 
};

.modal-background {
    animation-duration: .5s;
    animation-name: openModal;
    margin-top: -20%;
    margin-left: 30%;
    background-color: white;
    position: absolute;
    width: 608px;
    height: 620px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    z-index: 1000;
    pointer-events: auto;

    .modal__body {
        width: 100%;
        height: 100%;
    };

    input {
        background: #F9FAFC;
        border: 2px solid #EBECEF;
        box-sizing: border-box;
        border-radius: 6px;
        width: 480px;
        height: 36px;
    };

    label {
        margin-bottom: 4px;
        color: $labelColor;
    };

    .body__header {
        display: flex;
        justify-content: space-between;
        height: 56px;
        align-items: center;
        font-size: 16px;
        background-color: $modalHeadColor;
        border-start-end-radius: 10px;
        border-start-start-radius: 10px;
        position: relative;
        width: 100%;
        margin-bottom: 36px;
    };

    .body__form {
        margin-top: 10px;
        width: 608px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body__content {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    };

    .header__name {
        color: white;
    };

    .header__close {
        margin-right: 30px;
    };

    .content__inputField {
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;
        align-content: stretch;
    };

    .footer__modal {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .body__footer {
        margin-top: 30px;
        margin-right: 20;
        display: flex;
        align-items: center;
        justify-content:right;
        width: 608px;
        height: 60px;
        background-color: $backgroundFooter;
        border-end-start-radius: 10px;
        border-end-end-radius: 10px;

        button{
            margin-right: 24px;
        };
    };

    .dashboard__button {
        margin-right: 24px;
    };

    .body__delete {
        margin-top: 50px;
        font-size: 16px;
    };

    .footer__modal {
        background-color:$backgroundFooter;
        margin-top: 60px;
        height: 60px;
        display: flex; 
        justify-content: flex-end;
        align-items: center;
        border-end-start-radius: 10px;
        border-end-end-radius: 10px;
        width: 608px;
    };
};

.delete {
    height: 284px;
};

.fullHeight {
    height: 620px;
};
