.row__button {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  text-align: center;
  padding: 4px 4px 0 4px;
  border: none;
  border-radius: 6px;
  color: #858585;
  background-color: rowButtonBackground;
}

.dashboard__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 159px;
  height: 36px;
  color: white;
  background-color: #4587ED;
  border: none;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 159px;
  height: 36px;
  color: white;
  background-color: #4587ED;
  border: none;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}